<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Shezo\VirtualTypeExample\Api\WarehouseManagementInterface" type="Shezo\VirtualTypeExample\Model\WarehouseManagement" />
    <preference for="Shezo\VirtualTypeExample\Api\WarehouseRepositoryInterface" type="Shezo\VirtualTypeExample\Model\WarehouseRepository" />

    <type name="Shezo\VirtualTypeExample\ViewModel\Example">
        <arguments>
            <argument name="warehouseRepository" xsi:type="object">WarehouseManagementExtend</argument>
        </arguments>
    </type>

    <virtualType name="WarehouseManagementExtend" type="Shezo\VirtualTypeExample\Model\WarehouseRepository">
        <arguments>
            <argument name="warehouseManagement" xsi:type="object">Shezo\VirtualTypeExample\Model\WarehouseManagementExtend</argument>
        </arguments>
    </virtualType>
</config>
