<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Shezo\FirstModel\Api\PencilInterface"
                type="Shezo\FirstModel\Model\Pencil"/>
    <preference for="Shezo\FirstModel\Api\ColorInterface"
                type="Shezo\FirstModel\Model\Colors\Red"/>
    <preference for="Shezo\FirstModel\Api\SizeInterface"
                type="Shezo\FirstModel\Model\Sizes\Big"/>


<!--    <preference for="Magento\Catalog\Api\ProductRepositoryInterface"-->
<!--                type="Shezo\FirstModel\Model\CustomImplementation"/>-->

    <type name="Shezo\FirstModel\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">Shezo\FirstModel\Model\Colors\Yellow</argument>
            <argument name="size" xsi:type="object">Shezo\FirstModel\Model\Sizes\Small</argument>
        </arguments>
    </type>

    <type name="Shezo\FirstModel\Model\Student">
        <arguments>
            <argument name="firstName" xsi:type="string">Farida</argument>
            <argument name="age" xsi:type="number">25</argument>
            <argument name="skills" xsi:type="array">
                <item name="Reading" xsi:type="number">1</item>
                <item name="football" xsi:type="number">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="shezo_product_name_plugin" type="Shezo\FirstModel\Plugin\PluginSolution" sortOrder="10" disabled="false"/>
    </type>
</config>
