<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Shezo\VirtualTypeExample\Api\WarehouseManagementInterface" type="Shezo\VirtualTypeExample\Model\WarehouseManagement" />
    <preference for="Shezo\VirtualTypeExample\Api\WarehouseRepositoryInterface" type="Shezo\VirtualTypeExample\Model\WarehouseRepository" />
</config>
